{% extends "base.html" %}

{% block title %}
    Список задач
{% endblock %}

{% block content %}
    <h1>Список задач {% ifequal user.groups.all.0.name 'Преподаватель' %}
        |<a href="{% url 'create_problem' %}"> Создать задачу</a>
    {% endifequal %}</h1>
    <table class="problem_description">
        {% for problem in problems %}
            <tr class="tr-list">
                <th class="th-list"><a href="{% url "detail_problem" problem.pk %}">{{ problem.title }}</a></th>
                <th class="th-list">{{ problem.submissions.result }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}