{% extends "base.html" %}
{% load static %}
<!--jquery-->

{% load cache %}

{% block title %}
    {{ object.title }}
{% endblock %}




<!--import ace-->


{% block content %}
    <!--skulpt-->
    <script src="{% static "js/Skulpt/skulpt.min.js" %}"></script>
    <script src="{% static "js/Skulpt/skulpt-stdlib.js" %}"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"
            integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q=="
            crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.min.js"
            integrity="sha512-8qx1DL/2Wsrrij2TWX5UzvEaYOFVndR7BogdpOyF4ocMfnfkw28qt8ULkXD9Tef0bLvh3TpnSAljDC7uyniEuQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <h1>
        {{ module.title }}
    </h1>
    <div class="contents">
        <h3>Модули</h3>
        <ul id="modules">
            {% for m in object.modules.all %}
                    <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %} {% if m.visible == True %}class="closed"{% endif %}>
                        <a href="{% url "student_course_detail_module" object.id m.id %}">
            <span>
              Модуль <span class="order">{{ m.order|add:1 }}</span>
            </span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
                {% empty %}
                <li>Модулей ещё нет.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% cache 600 module_contents module %}

        {% endcache %}
        {% for content in module.contents.all %}
            {% with item=content.item %}
                {% if item.title is not none %}
                    <h2>{{ item.title }}</h2>
                {% endif %}
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    </div>
    <script src="{% static "js/skulpt-compiler.js" %}"></script>
{% endblock %}
