{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if object %}
        Изменение контента "{{ object.title }}"
    {% else %}
        Добавить контент
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Изменить контент "{{ object.title }}"
        {% else %}
            Добавить контент
        {% endif %}
    </h1>
    <div class="module">
        <form method="post" enctype="multipart/form-data">
            {% if form.code %}
                <table class="grid" id="code_block1">
                    <tr>
                        <td>
                            <button
                                    type="button"
                                    class="run_button"
                                    onclick="runit($('#code_editor1')[0], $('#output1')[0])"
                            >
                                Запустить
                            </button>
                            <button
                                    type="button"
                                    class="stop-button"
                                    onclick="stopit()"
                                    style="display: none;"
                            >
                                Stop code
                            </button>
                        </td>
                    </tr>
                    <!--editor container: setting width to is important-->
                    <tr>
                        <td colspan="2">
                            <div>
                                <div class="editor" id="code_editor1">{{ form.code }}</div>
                            </div>
                        </td>
                    </tr>
                    <!--output container: setting width to is important-->
                    <tr>
                        <td>
                            <div style="width: 90%">
                                <div class="label-input">Входные данные:</div>
                                <div class="input_data" id="__v01d_input_area1">
                                    {% if form.input_data is none %}{% else %}{{ form.input_data }}{% endif %}</div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="label-output">Выходные данные:</div>
                                <div class="output" id="output1"></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="hidden">{{ form.as_p }}</div>
                <script>
                    function save() {
                        document.getElementById("id_code").value = ace.edit("input1").getValue();
                        document.getElementById("id_input_data").value = ace.edit("__v01d_input_area1").getValue();
                    }
                </script>
            {% else %}
                {{ form.as_p }}
            {% endif %}
            {% csrf_token %}
            <p><input type="submit" value="Сохранить контент" onclick="save()"></p>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--ace-->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"
            integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q=="
            crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.min.js"
            integrity="sha512-8qx1DL/2Wsrrij2TWX5UzvEaYOFVndR7BogdpOyF4ocMfnfkw28qt8ULkXD9Tef0bLvh3TpnSAljDC7uyniEuQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--skulpt-->
    <script src="{% static "js/Skulpt/skulpt.min.js" %}"></script>
    <script src="{% static "js/Skulpt/skulpt-stdlib.js" %}"></script>
    <script src="{% static "js/skulpt-compiler.js" %}"></script>


{% endblock %}
