{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<table class="grid" style="width: 50%" id="code_block{{ item.id }}">
    <tr>
        <td>
            <button
                    type="button"
                    class="run_button"
                    onclick="runit($('#code_editor{{ item.id }}')[0], $('#output{{ item.id }}')[0])"
            >
                запустить
            </button>
            <button
                    type="button"
                    class="stop-button"
                    onclick="stopit()"
                    style="display: none;"
            >
                Stop code
            </button>
        </td>
    </tr>
    <!--editor container: setting width to is important-->
    <tr>
        <td colspan="2">
            <div>
                <div class="editor" id="code_editor{{ item.id }}">{{ item.code }}</div>
            </div>
        </td>
    </tr>
    <!--output container: setting width to is important-->
    <tr>
        <td>
            <div style="width: 90%">
                <div class="label-input">Входные данные:</div>
                <div class="input_data" id="__v01d_input_area{{ item.id }}">{% if item.input_data is none %}{% else %}{{ item.input_data }}{% endif %}</div>
            </div>
        </td>
        <td>
            <div>
                <div class="label-output">Выходные данные:</div>
                <div class="output" id="output{{ item.id }}"></div>
            </div>
        </td>
    </tr>
</table>